<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custommapsapp.android"
    android:versionCode="111"
    android:versionName="1.5.2">

    <application
        android:name="CustomMapsApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="CustomMaps"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.custommapsapp.com"
                    android:pathPrefix="/qr"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>

                <!-- Local file support (for file managers and downloaded files) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kmz"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectMap"
            android:label="@string/select_map_name" />
        <activity
            android:name=".storage.EditPreferences"
            android:label="@string/edit_prefs_name" />

        <!-- FileProvider is needed to share map files -->
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

    </application>

</manifest>
